<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\bower_components\angular-material\angular-material.min.css">
    <title>ngMaterial</title>
    <base href="/" />
</head>
<body>
    <ui-view></ui-view>
    <script src="\bower_components\angular\angular.min.js"></script>
    <script src="\bower_components\angular-animate\angular-animate.min.js"></script>
    <script src="\bower_components\angular-aria\angular-aria.min.js"></script>
    <script src="\bower_components\angular-messages\angular-messages.min.js"></script>
    <script src="\bower_components\angular-material\angular-material.min.js"></script>
    <script src="\bower_components\angular-ui-router\release\angular-ui-router.min.js"></script>
    <script src="\bower_components\angular-resource\angular-resource.min.js"></script>
    <script src="\ngApp\app.js"></script>
    <script src="\ngApp\services\services.js"></script>
    <script src="\ngApp\controllers\controllers.js"></script>
</body>
</html>
    